* {
    background-color: black;
    color: white; 
}

a {
    color: white;
    word-spacing: .2em;
}

.superHeroImage {
    border-style: solid;
    border-width: 1em;
    border-color: white;
     
}

img {
    width: 100%;
    
}