* {
    background-color: black;
    color: white; 
}

a {
    color: white;
    word-spacing: .2em;
}

.superHeroImage {
    border-style: solid;
    border-width: 1em;
    border-color: white;
     
}

.pageheader {
    font-size: 3rem;
    text-align: center;
    text-decoration: underline;
}

.sectionheader {
    font-size: 2rem;
    font-weight: 900;
}

img {
    width: 100%;
    
}